body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}

h1, h2{
    text-align: center;
}
h1{
    font-size: 4rem;
}
h2{
    font-size:1rem;
    color: rgb(86, 79, 79);
}

.container{
    max-width: 1600px;
    padding: 50px 20px;
    margin: auto;
}

.galleryImage{
    max-width: 100%;
    border-radius: 10px;
    position: relative;
    transition: transform 220ms;
    cursor: pointer;
}

#gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 10px;
}

.galleryImage:hover {
    transform: scale(0.9);
}

#popup{ 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: 250ms transform;
    padding: 30px;
}

#selectedImage{
 max-height: 90%;
}

#text{
    color: white;
}